**/.metals/
**/.vscode/
**/.cache/
**/.idea/
**/.bloop/
**/.metadata/
**/.settings/
**/.scala-build/
**/__pycache__/
**/out/
**/target/
compile_commands.json
sysml-aadl-libraries
.DS_Store
**/Cargo.lock
*.aaxl2
**/microkit.system.merged