name: HAMR-codegen

on: 
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'micro-examples/**'
      - 'isolette/**'
      - 'open-platform-models/isolate-ethernet-simple/**'
  schedule:
    - cron: "0 2 * * 6" # every sunday at 2am
    
jobs:
  ci:
    runs-on: ubuntu-latest
    container: jasonbelt/microkit_domain_scheduling:latest
    name: HAMR-codegen
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: INSPECTA-models
          submodules: recursive
          ref: main
          fetch-depth: 1
          fetch-tags: false
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: Sireum
          repository: sireum/kekinian
          submodules: recursive
          ref: master
          fetch-depth: 1
          fetch-tags: false
      - name: Cache Java
        id: cache-java
        uses: actions/cache@v4
        with:
          path: Sireum/bin/linux/java
          key: ${{ runner.os }}-${{ hashFiles('Sireum/versions.properties') }}-java
      - name: Cache Scala
        id: cache-scala
        uses: actions/cache@v4
        with:
          path: Sireum/bin/scala
          key: ${{ runner.os }}-${{ hashFiles('Sireum/versions.properties') }}-scala
      - name: Cache Coursier
        id: cache-coursier
        uses: actions/cache@v4
        with:
          path: Sireum/cache/coursier
          key: ${{ runner.os }}-${{ hashFiles('Sireum/versions.properties') }}-coursier
      - name: Cache OSATE
        id: cache-osate
        uses: actions/cache@v4
        with:
          path: Sireum/bin/linux/osate
          key: ${{ runner.os }}-${{ hashFiles('Sireum/hamr/codegen/jvm/src/main/resources/phantom_versions.properties') }}-osate
      - name: Build
        shell: bash
        run: |
          rm -rf INSPECTA-models/.git

          export HOME=/home/microkit
          export PROVERS_DIR=${HOME}/provers

          export PATH=${PROVERS_DIR}/verus-x86-linux:$HOME/.cargo/bin:$PATH

          # update the installed version of Verus to 0.2026.01.02.6f52890 and add xmllint
          rm -rf ${PROVERS_DIR}/verus-x86-linux/
          sudo apt-get update
          sudo apt-get install unzip libxml2-utils
          wget -P ${PROVERS_DIR}/ https://github.com/verus-lang/verus/releases/download/release%2F0.2026.01.02.6f52890/verus-0.2026.01.02.6f52890-x86-linux.zip
          unzip ${PROVERS_DIR}/verus-0.2026.01.02.6f52890-x86-linux.zip -d ${PROVERS_DIR}/
          rustup toolchain install 1.91.0-x86_64-unknown-linux-gnu
          rustup component add rust-src --toolchain 1.91.0-x86_64-unknown-linux-gnu
                    
          export MICROKIT_SDK=${PROVERS_DIR}/microkit-sdk
          export MICROKIT_BOARD=qemu_virt_aarch64

          export AM_REPOS_ROOT=${PROVERS_DIR}/am
          
          rm -rf ${PROVERS_DIR}/Sireum # remove bootstrap version
          export SIREUM_HOME=$(pwd)/Sireum
          export PATH=${SIREUM_HOME}/bin:${PATH}
          
          ${SIREUM_HOME}/bin/build.cmd setup
          rm -rf ${SIREUM_HOME}/out
          
          sireum -v
          
          export OSATE_HOME=${SIREUM_HOME}/bin/linux/osate
          sireum slang run ${SIREUM_HOME}/hamr/codegen/bin/build.cmd install-osate-gumbo

          INSPECTA-models/.github/workflows/hamr/hamr-ci.cmd
